.btnsContainer {
    background-color: cadetblue;
    padding: 10%;
    width: fit-content;
}

.inactive {
    background-color: white;
    height: 2.5em;
    width: 3em;
    border-radius: 2em
}

.active {
    background-color: black;
    height: 2.5em;
    width: 3em;
    color: white;
    border-radius: 2em;
}